/* ====== MENÚ LATERAL ====== */
header button {
    font-size: 2,5em;
    border-radius: 10px;
    padding-bottom: 50px;
    width: 45px;

}
/*====== Menú del Boton ====== */
.menu-btn {
    font-size: 25px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    
}
/* ====== Barra Lateral ====== */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(11, 97, 97);
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 60px;
    color: white;
    z-index: 1000;
}
/* ====== Cerrar Botón ====== */
.close-btn {
    font-style: normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.close-btn:hover{
    color: rgb(24, 23, 23);
}
h2 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
li a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-justify: auto;
    text-decoration: none;
}
li a:hover{
    color: rgb(24, 23, 23);
}

/* ====== CONTENIDO PRINCIPAL ======*/
section button{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 20px 40px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.822);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: rgba(12, 100, 100, 0.993);
}
.container{
    max-width: 1000px;
    margin: auto;
}
header{
    background-image: url("../Imag/Arduino_ftdi_chip-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0;
    padding: 10px 0;
    z-index: 100;
}
header .logo{
    margin: 0;
    padding: 75px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.8em;
    color: white;
    -webkit-text-stroke: 1px black;
}
header .container{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
}
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    color: white;
    background-image:
    url("../Imag/Programmer.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;    
}
#nuestros-productos{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}
#nuestros-productos .container{
    
}
#nuestros-productos h3{
    font-size: 4em;
    color: rgb(0, 0, 0);
}
#nuestros-productos p{
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    -webkit-text-stroke: 0.8px black;
}
#nuestros-productos .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 20px;
}
.carta:first-child{
    background-image: url("../Imag/HTML5\ logo\ HD\ -\ MI\ PORTAL.jpeg");

}
.carta:nth-child(2){
    background-image: url("../Imag/css.jpeg");
}
.carta:nth-child(3){
    background-image: url("../Imag/Baixar\ javascript\ logotipo\ png\,\ javascript\ ícone\ transparente\ png.jpeg");
}
.carta:nth-child(4){
    text-decoration-color: white;
    background-image: url("../Imag/python\ logo.jpeg");
}
.formulario{
    background-color: rgb(10, 97, 97);
}
body div .container{
    background-color: rgb(11, 97, 97);
}
